<div class="bg-image" style="
      background-image: url('https://mdbootstrap.com/img/new/standard/city/041.jpg');
      height: 100vh;">
    <div class="profile-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 pb-2 wow fadeInLeft slow">
                    <div class="card ho">
                        <!-- change the image folder -->
                        <div class="img1"><img src="assets/user.png" alt="img1" /></div>
                        <div class="img2"><img src="assets/shadow.jpg" alt="img1" /></div>
                        <div class="main-text">
                            <h5 className="l-align">Submit your details !</h5>
                            <!-- change the router link -->
                            <p><a class="btn btn-primary  btn-block fa-lg gradient-custom-2 mb-3" style="width: 50%;"
                                    routerLink="/fresher">Freshers</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pb-5 wow fadeInLeft slow">
                    <div class="card ho">
                        <div class="img1"><img src="assets/user.png" alt="img1" /></div>
                        <div class="img2"><img src="assets/shadow.jpg" alt="img1" /></div>
                        <div class="main-text">
                            <h5 className="r-align">Admin Login !</h5>
                            <p><a class="btn btn-primary  btn-block fa-lg gradient-custom-2 mb-3" style="width: 50%;"
                                    routerLink="/adminLogin">Admin</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pb-5 wow fadeInLeft slow">
                    <div class="card ho">
                        <div class="img1"><img src="assets/user.png" alt="img1" /></div>
                        <div class="img2"><img src="assets/shadow.jpg" alt="img1" /></div>
                        <div class="main-text">
                            <h5 className="l-align">Analytic user Login !</h5>
                            <p><a class="btn btn-primary  btn-block fa-lg gradient-custom-2 mb-3" style="width: 50%;"
                                    routerLink="/analyticLogin">Reporting User</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>